@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --nav-background:#f5f5f5b2;
    --font-dela-gothic: "Dela Gothic One", sans-serif;
    /* colors  */
    --white: #ffffff;
    --almost-white: #d9d9d9;
    --blue: #009ded;
    --orange: #d08875;
    --light-brown: #a38c77;
    --brown: #645443;
    --dark-brown: #433839;
    --almost-black: #1e1e1e;
    --black: #000000;

    /* animations and transitions */
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    /* Font sizing */
    --heading1: 75px;
    --heading2: 54px;
    --heading2mob: 24px;
    --heading3: 36px;
    --heading3mob: 18px;
    --bodylarge: 36px;
    --bodylargemob: 22px;
    --bodysmall: 24px;
    --bodysmallmob: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.font-dela {
    font-family: var(--font-dela-gothic);
}


.navlinksvert {
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    position: relative;
    margin: 0;
    background-color: var(--nav-background);
    padding-left: 20px;
    width: 100%;
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .navlinksvert.active {
    height: 235px;
    padding-top: 10px;
  }
  
  .li {
    pointer-events: none;
    width: min-content;
    opacity: 0;
    transform: translateY(-15px);
    transition: 0.1s;
  }
  
  .li.active {
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
  }
  
  .hr {
    opacity: 0;
    transform: translateY(-15px);
    width: 0;
    transition: 0.1s;
    margin: 0 auto;
  }
  
  .hr.active {
    border: solid 3px #645443;
    border-radius: 20px;
    width: 25%;
    background-color: #645443;
    opacity: 25%;
  }

  .hr-transparent {
    opacity: 0;
    transform: translateY(-15px);
    width: 0;
    transition: 0.1s;
    margin: 0 auto;
  }
  
  .hr-transparent.active {
    border: solid 3.5px var(--brown);
    border-radius: 20px;
    width: 25%;
    background-color: transparent;
    opacity: 20%;
  }